.empty-fields__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  display: none;
  z-index: 1000;
}

.empty-fields__modal {
  position: relative;
  background-color: #fff;
  max-width: 768px;
  width: 100%;
  padding: 64px;
  margin-left: auto;
  border-radius: 15px;
  margin-right: auto;
  text-align: center;
}

.empty-fields__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.empty-fields__title {
  font-size: 48px;
  font-weight: 700;
}

.empty-fields__description {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.empty-fields__button {
  padding: 10px 57px;
  max-width: 203px;
  width: 100%;
  background-color: #9A00FF;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #9A00FF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}

.empty-fields__button:hover {
  background-color: #F1DEFF;
  border-color: #7a00b3;
  color: #000;
}
