.popular {
  padding-top: 40px;
  padding-bottom: 40px;
}

.popular__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.popular__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-items: center;
}

.popular__item {
  position: relative;
  width: 100%;
  max-width: 335px;
  background-color: rgba(241, 222, 255, 1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.popular__image {
  width: 100%;
  height: 420px; /* Увеличена высота */
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.popular__box {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.popular__type {
  font-size: 14px;
  font-weight: 600;
}

.popular__name {
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 1.4;
  font-size: 20px;
  flex-grow: 1;
}

.popular__data {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.popular__icon {
  margin-left: 5px;
}

.popular__buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 24px;
}

.popular__more {
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid #00000026;
  background-color: #0000000d;
  font-size: 14px;
  flex-grow: 1;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: all 0.3s ease;
}

.popular__more:hover {
  color: #fff;
  background-color: #9a00ff;
}

.popular__save {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #00000026;
  background-color: #0000000d;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #000; 
}

.popular__save svg {
  width: 15px;
  height: 18px;
}

.popular__save:hover:not(.popular__saved) {
  background-color: #fff; 
  color: #000;
}

.popular__saved {
  background-color: #9a00ff;
  color: #fff; 
}

@media screen and (min-width: 768px) {
  .popular__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .popular__list {
    grid-template-columns: repeat(3, 1fr);
  }
}