.popular {
  padding-top: 40px;
  padding-bottom: 40px;
}

.popular__title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.popular__list {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  justify-content: center; 
}

.popular__item {
  position: relative;
  width: 100%;
  max-width: 335px;
  background-color: rgba(241, 222, 255, 1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.popular__image {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.popular__box {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.popular__type {
  font-size: 14px;
  font-weight: 600;
}

.popular__name {
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 1.4;
  font-size: 20px;
  flex-grow: 1;
}

.popular__data {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.popular__icon {
  margin-left: 5px;
}

.popular__buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 24px;
}

.popular__more {
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid #00000026;
  background-color: #0000000d;
  font-size: 14px;
  flex-grow: 1;
  margin-right: 8px;
display: flex;
justify-content: center;
align-items: center;
color: #000;
}

.popular__more:hover {
  color: #fff;
  background-color: #9a00ff;
}

.popular__save {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #00000026;
  background-color: #0000000d;
}

.popular__save-icon {
  width: 24px;
  height: 24px;
}

.popular__save:hover {
  background-color: #9a00ff;
}

