.no-email__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.no-email__backdrop.active {
  display: flex;
}

.no-email__modal {
  position: relative;
  background-color: #fff;
  max-width: 768px;
  width: 100%;
  display: block;
  padding: 64px;
  margin-left: auto;
  border-radius: 15px;
  margin-right: auto;
  text-align: center;
}

.no-email__title {
  font-size: 48px;
  font-weight: 700;
}

.no-email__description {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.no-email__link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 57px;
  padding-right: 57px;
  max-width: 203px;
  width: 100%;
  margin-left: 24px;
  background-color: #9a00ff;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #9a00ff;
}

.no-email__link:hover {
  background-color: #f1deff;
  border-color: #7a00b3;
  color: #000;
}

.no-email__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  background: none;
  border: none;
}
