.profile-detail {
  padding-top: 48px;
  padding-bottom: 48px;
}

.profile-detail .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.profile-detail__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-detail__box {
  margin-left: 0;
}

.profile-detail__name {
  font-size: 24px;
}

.profile-detail__saved {
  font-size: 14px;
}

.profile-detail__logout,
.profile-detail__edit {
  margin-top: 12px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  width: 100%;
}

.profile-detail__logout {
  background-color: #9a00ff;
  color: #fff;
  border: 1px solid #9a00ff;
}

.profile-detail__edit {
  background-color: #0000000d;
  color: #000;
  border: 1px solid #00000026;
}

@media (hover: hover) {
  .profile-detail__logout:hover {
    background-color: #f1deff;
    color: #000;
  }

  .profile-detail__edit:hover {
    background-color: #9a00ff;
    color: #fff;
  }
}

@media (min-width: 375px) {
  .profile-detail__name {
    font-size: 28px;
  }

  .profile-detail__saved {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .profile-detail .container {
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
  }

  .profile-detail__image {
    width: 160px;
    height: 160px;
  }

  .profile-detail__box {
    margin-left: 24px;
  }

  .profile-detail__name {
    font-size: 40px;
  }

  .profile-detail__logout,
  .profile-detail__edit {
    width: auto;
  }
}

@media (min-width: 1440px) {
  .profile-detail {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .profile-detail__image {
    width: 200px;
    height: 200px;
  }

  .profile-detail__name {
    font-size: 48px;
  }
}



.profile__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  display: none;
}

.profile__form {
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__change {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.profile__photo {
  width: 100%;
  margin-top: 20px;
}

.profile__photo-title {
  text-align: left;
}

.avatar__preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("./images/zaglushka.png");
}

.profile__photo-load {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  gap: 12px;
}

.profile__photo-button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid #00000026;
}

@media (hover: hover) {
  .profile__photo-button:hover {
    background-color: #9a00ff;
    color: #fff;
    border: 1px solid #9a00ff;
  }
}

.profile__save {
  width: 100%;
  margin-top: 32px;
  background-color: #e2b8ff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: not-allowed;
}

@media (min-width: 375px) {
  .profile__change {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .profile__form {
    max-width: 500px;
    padding: 32px;
  }

  .profile__change {
    font-size: 36px;
  }

  .profile__photo-load {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .profile__form {
    max-width: 644px;
  }

  .profile__change {
    font-size: 48px;
  }

  .profile__photo,
  .profile__save {
    width: 100%;
  }
}