.header__mobile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1000;
}

.header__mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  max-width: 320px;
  height: 100%;
  background: #fff;
  padding: 20px;
  z-index: 1001;

  display: flex;
  flex-direction: column;
  gap: 24px;

  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
}

/* кнопка закрытия */
.header__mobile-close {
  align-self: flex-end;
  background: none;
  border: 1px solid #00000026;
  background-color: #0000000D;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header__mobile-close:hover {
  background-color: #9a00ff;
  color: #fff;
}

.header__mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header__mobile-nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 8px;
}

.header__mobile-nav a:hover {
  background-color: rgba(154, 0, 255, 0.1);
}

.header__mobile-buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__mobile-button{
  padding: 12px;
  border-radius: 10px;
  color: #000;
  background-color: #0000000D;
  border: 1px solid #00000026;
}

.header__mobile-button:hover{
  background-color: #F1DEFF;
  color: #000;
  border: 1px solid #9A00FF;
}

.header__mobile-buttons button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.header__mobile-buttons .register {
  background-color: #9a00ff;
  color: #fff;
}


.header__mobile-buttons button:hover {
  background-color: rgba(154, 0, 255, 0.1);
  border-color: rgba(154, 0, 255, 1);
  color: #000;
}

.header__mobile-buttons .register:hover {
  background-color: rgba(241, 222, 255, 1);
  border-color: rgba(154, 0, 255, 1);
  color: #000;
}
