.profile-articles__switch {
  padding: 4px;
  background-color: #f1deff;
  max-width: 422px;
  border-radius: 10px;
}
.profile-articles__variant {
  width: 207px;
  height: 40px;
  border-radius: 8px;
  background: none;
  font-weight: 500;
  border: none;
}
.profile-articles__active {
  width: 207px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #00000026;
  background-color: #fbf5ff;
  font-weight: 500;
}

.profile-articles__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-items: center;
  margin-top: 40px;
}

.profile-articles__item {
  width: 100%;
  max-width: 421px;
  background-color: #f1deff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profile-articles__image {
  width: 100%;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-articles__content {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.profile-articles__category {
  font-size: 14px;
  font-weight: 600;
}

.profile-articles__name {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.4;
  flex-grow: 1;
}

.profile-articles__meta {
  font-size: 14px;
  font-weight: 600;
  margin-top: auto;
}

.profile-articles__actions {
  padding: 0 24px 24px;
  display: flex;
  gap: 10px;
}

.profile-articles__button {
  display: flex;
  color: #000;
  text-align: center;
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid #00000026;
  background-color: #0000000d;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.profile-articles__button:hover {
  background-color: #9a00ff;
  color: #fff;
}

.profile-articles__remove {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #00000026;
  background-color: #0000000d;
}

.profile-articles__remove:hover{
   background-color: #a80000d7;
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .profile-articles__switch {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .profile-articles__variant {
    width: 100%;
  }
  .profile-articles__active {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .profile-articles__list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
  }

  .profile-articles__item {
    max-width: none;
  }
}
