.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subscribe__content {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  border-radius: 20px;
  color: #ffffff;
}

.subscribe__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subscribe__description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.subscribe__button {
  padding: 12px 10px;
  background-color: #9a00ff;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  text-align: center;
  max-width: 175px;
}

.subscribe__button:hover {
  outline: 1px solid #9a00ff;
  background-color: #f1deff;
  color: #000;
}

@media screen and (min-width: 375px) {
  .subscribe__title {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .subscribe__content {
    padding: 64px;
    text-align: left;
  }

  .subscribe__title {
    font-size: 32px;
    max-width: 600px;
  }

  .subscribe__description {
    font-size: 18px;
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .subscribe {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .subscribe__content {
    height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subscribe__title {
    font-size: 48px;
    max-width: 723px;
  }

  .subscribe__description {
    font-size: 20px;
    max-width: 723px;
    margin-top: 24px;
  }

  /* .subscribe__button {
    margin-top: 32px;
  } */
}
