.subscribe {
  padding-top: 48px;
  padding-bottom: 48px;
}

.subscribe .container {
  background-image: url("./images/background.jpg");
  background-size: cover;
  padding-left: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
  height: 436px;
  border-radius: 20px;
}

.subscribe__title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  max-width: 723px;
}

.subscribe__description {
  margin-top: 24px;
  color: #ffffff;
  max-width: 723px;
  font-weight: 400;
  font-size: 20px;
}

.subscribe__button {
  margin-top: 32px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #9a00ff;
  border-radius: 10px;
  border: none;
  color: #ffffff;
}

.subscribe__button:hover {
  outline: 1px solid #9A00FF;
  background-color: #F1DEFF;
  color: #000;
}
