.authors-page {
  padding-top: 48px;
}

.authors-page__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.authors-page__list {
  display: block;
  gap: 24px;
  margin-top: 24px;
}

.authors-page__item {
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 24px 0;
}

.authors-page__more{
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #0000000D;
  color: #000000;
  border: 1px solid #00000026;
  border-radius: 10px;
  cursor: pointer;
}

.authors-page__more:hover {
  background-color: #9A00FF;
  color: #FFFFFF;
  border: 1px solid #9A00FF;
}

.authors__avatar {
  width: 178px;
  height: 178px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 24px;
}


@media screen and (min-width: 375px) {
  .authors-page__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .authors-page__list{
    grid-template-columns: 1fr;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .authors-page__list{
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
  }
}