.footer {
  background-color: rgba(241, 222, 255, 1);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 24px;
}

.footer__logo {
  align-items: center;
  display: flex;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
}

.footer__list {
  display: flex;
  gap: 20px;
  justify-content: center;
  order: 3;
}

.footer__icon {
  font-size: 24px;
  color: black;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  order: 2;
}

.footer__link {
  color: black;
  text-decoration: none;
}

.footer__copyright {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__list {
    order: 2;
    gap: 15px;
  }

  .footer__links {
    flex-direction: row;
    gap: 32px;
    order: 3;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer__content {
    align-items: center;
  }

  .footer__list {
    margin-left: auto;
    margin-right: auto;
  }
}
