.article-details {
  padding-top: 48px;
  padding-bottom: 48px;
}

.article-details .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article-details__box {
  text-align: left;
  max-width: 100%;
}

.article-details__title {
  font-size: 28px;
  font-weight: 700;
}

.article-details__author {
  margin-top: 12px;
  font-weight: bold;
}

.article-details__name {
  font-weight: 400;
}

.article-details__date {
  margin-top: 12px;
  font-weight: bold;
}

.article-details__numbers {
  font-weight: 400;
}

.article-details__image {
  width: 100%;
  border-radius: 20px;
  margin-left: 0;
}


@media (min-width: 375px) {
  .article-details__title {
    font-size: 32px;
  }

  .article-details__author,
  .article-details__date {
    margin-top: 16px;
  }
}


@media (min-width: 768px) {
  .article-details .container {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .article-details__box {
    max-width: 55%;
  }

  .article-details__title {
    font-size: 40px;
  }

  .article-details__image {
    width: 45%;
    margin-left: auto;
  }
}


@media (min-width: 1440px) {
  .article-details__title {
    font-size: 48px;
  }

  .article-details__box {
    max-width: 600px;
  }

  .article-details__image {
    width: 50%;
  }
}