@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul, ol{
  list-style: none;
  padding: 0;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

button{
  padding: 0;
}

button:hover{
  cursor: pointer;
}

div{
  padding: 0;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}